.arrow {
  width: 0;
  heigth: 0;
  position: relative;
}
.arrow-up {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  top: -10px;
}

.arrow-down {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ccc;
  top: 20px;
}

.circle {
  display: block;
  border-radius: 50%;
  border: solid 1px #ccc;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.circle-center { margin: 0 auto; }
.circle-right {
  position: absolute;
  right: 10px;
  bottom: -25px;
}