@import url(//fonts.googleapis.com/css?family=Gentium+Book+Basic|Port+Lligat+Slab|Shadows+Into+Light|Gloria+Hallelujah);

* {margin: 0; padding: 0; box-sizing: border-box;}
body { text-align:center; margin: 0 auto; padding-bottom: 50px; }

.column-flex {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  /**/
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  /**/
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  /**/
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
}

html { height: 100%; }
body { min-height: 100%; }

.thing {
  flex-basis: 50vh;
  -webkit-flex-basis: 50vh;
  -moz-flex-basis: 50vh;
}

#top {
  background-image: url('/assets/logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  border-bottom: solid 3px #FFDC00;
  position: relative;
}
#top .credit {
  display: none;
  position:absolute;
  bottom: 5px;
  right: 10px;
  color: #aaa;
  background-color: #333;
  opacity: 0.7;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-family: 'gentium book basic';
}

#top:hover a.credit {
  display: block;
}

#hero, #letter {
  max-width: 70%;
  margin: 0 auto;
  padding: 20px;
}

#hero p {
  font-size: 1.25em;
  margin-bottom: 0.75em;
  line-height: 1.25em;
  font-family: 'gentium book basic';
}

#hero hr {
  border: 0;
  height: 1px;
  width: 100%;
  margin-bottom: 2.5em;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.title {
  font-family: "Port Lligat Slab", serif;
  font-size: 1.2em;
  color: #b2ae73; /* mustard */
}
.brown { color: #40210d; /* brown */}

/* Letter */
.letter {
  max-width: 500px;
  margin: 10px auto;
  background-color: #f1e9d2;
  padding: 40px 50px 75px 30px;
  background-image: url('/assets/background.png');
  margin-bottom: 20px;
}

.letter > * {
  font-family: 'gloria hallelujah', cursive;
}

.letter p {
  line-height: 1.5em;
  font-size: 1.1em;
  margin-bottom: 1.6em;
  text-align: left;
}

.letter .right {
  float: right;
  overflow: auto;
  font-family: 'shadows into light', cursive;
}

.letter .right > *  {
  display: block;
}
.letter .right signature {
  font-size: 1.5em;
  margin-bottom: 5px;
}

.letter .right time {
  font-size: 0.9em;
}

/* Arrows */
.arrow {
  width: 0;
  heigth: 0;
  position: relative;
}
.arrow-up {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  top: -10px;
}

.arrow-down {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ccc;
  top: 20px;
}

.circle {
  display: block;
  border-radius: 50%;
  border: solid 1px #ccc;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.circle-center { margin: 0 auto; }
.circle-right {
  position: absolute;
  right: 10px;
  bottom: -25px;
}